<!DOCTYPE html>
<html lang="en">
<head>
    <title>Complaint Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Refresh every 2 minutes -->
    <!-- <meta http-equiv="refresh" content="120" > -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/static/css/theme.default.css">
    <!-- endinject -->

    <!-- inject:js -->
    <script src="/static/js/jquery-3.2.0.min.js"></script>
    <script src="/static/js/jquery.tablesorter.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/clipboard.min.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <!-- endinject -->
</head>

<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">Complaint Dashboard</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
	<ul class="nav navbar-nav">
	    <li>
	    <a href="/adx">ADX</a>
	    </li>
	    <li>
	    <a href="/aa">AA</a>
	    </li>
	</ul>
    </div>
</nav>

<div class="container-fluid">
