<%- include( '../../../../public/partials/header' ) %>

<h1>ADX Complaint Dashboard - <%- results.length %> Open Complaints</h1>

<div class="table-responsive">
    <table class="table table-bordered tablesorter dashboardTable" id="table">
        <thead>
            <tr>
                <th class="complaintNumber">Complaint</th>
                <th class="creation">Creation</th>
                <th class="deathInjury">Death/Injury</th>
                <th class="urgent">Urgent</th>
                <th class="subject">Subject</th>
                <th class="invoiceNo">Invoice #</th>
                <th class="customer">Customer</th>
                <th class="rga">RGA</th>
                <th class="warranty">Warranty</th>
                <th class="date">1st Resp</th>
                <th class="date">Solution</th>
                <th class="followup">Follow Up</th>
                <th class="notes">Notes</th>
            </tr>
        </thead>

        <tbody>
            <% for( var result in results ) { %>
                <%
                    var creation = moment( results[result].Update_date ).format( 'M D YYYY HH' );
                    var currentDate = moment( Date.now() ).format( 'M D YYYY HH' );
                    var difference = moment( currentDate, 'M D YYYY HH' ).diff( moment( creation, 'M D YYYY HH' ), 'hours' );
                    var followupDate = '';
                    if( moment( results[result].followup_date ).format( 'M D YYYY HH' ) == 'Jan 1 1111' ) {
                        followupDate = moment( results[result].followup_date ).format( 'M D YYYY HH' );
                    };
                    var followupCheck = moment( currentDate, 'M D YYYY' ).diff( moment( followupDate, 'M D YYYY' ), 'hours' );
                %>
                <tr>
                    <td class="complaintNumber" style="text-align:center;">
                        <%- results[result].ComplaintNo %><br/>
                        <button class="btn btn-default btn-xs reportPath" type="button" data-toggle="tooltip" data-placement="right" title="Click To Copy To Clipboard" data-clipboard-text="<% if( results[result].ComplaintNo >= 1 && results[result].ComplaintNo <= 9 ) { %><%- reportPath %>/0000<%- results[result].ComplaintNo %><% }else if(results[result].ComplaintNo >= 10 && results[result].ComplaintNo <= 99) { %><%- reportPath %>/000<%- results[result].ComplaintNo %><% }else if(results[result].ComplaintNo >= 100 && results[result].ComplaintNo <= 999) { %><%- reportPath %>/00<%- results[result].ComplaintNo %><% }else if( results[result].ComplaintNo >= 1000 && results[result].ComplaintNo <= 9999 ) { %><%- reportPath %>/0<%- results[result].ComplaintNo %><% }else { %><%- reportPath %>/0<%- results[result].ComplaintNo %><% }; %>">Path</button>
                    </td>

                    <td class="creation" style="text-align:center;"><%- moment( results[result].Update_date ).format( 'MMM D, YYYY' ) %></td>

                    <td class="deathInjury" style="text-align:center;<% if(results[result].death_injury) { %> background:red;color:white; <% } %>">
                        <span><% if( results[result].death_injury ) { %>Yes<% } else { %>No<% }; %></span>
                        <form id='deathInjuryForm' action="/api/adx/death_injury/<%- results[result].ComplaintNo %>">
                            <button type="submit" class="btn btn-default btn-xs">Change</button>
                            <input type="text" style="visibility:hidden" class="form-control" for="death_injury" name="death_injury" readonly="readonly" value="<% if( results[result].death_injury ) { %>Yes<% }else { %>No<% }; %>">
                        </form>
                    </td>

                    <td class="urgent" style="text-align:center;<% if(results[result].urgent) { %> background:orangered;color:white; <% } %>">
                        <span><% if( results[result].urgent ) { %>Yes<% } else { %>No<% }; %></span>
                        <form id="urgentForm" action="/api/adx/urgent/<%- results[result].ComplaintNo %>">
                            <button type="submit" class="btn btn-default btn-xs">Change</button>
                            <input type="text" style="visibility:hidden" class="form-control" for="urgent" name="urgent" readonly="readonly" value="<% if( results[result].urgent ) { %>Yes<% }else { %>No<% }; %>">

                            <span style="<% if( !results[result].urgent ) { %>visibility:hidden;<% } else { %>visiblity:visible;<%};%>">
                                <p style="text-align:left;"><strong>Reason:</strong> <%- results[result].urgent_note %></p>
                                <a href="/adx/urgentnote/edit/<%- results[result].ComplaintNo %>" class="btn btn-default btn-xs">Edit</a>
                            </span>
                        </form>
                    </td>

                    <td class="subject" style="text-align:center;"><%- results[result].Subject %></td>

                    <td class="invoiceNo" style="text-align:center;"><%- results[result].InvoiceNo %></td>

                    <td class="customer" style="text-align:center;"><%- results[result].CustCode %></td>

                    <td class="rga">
                        <strong>RGA #: </strong><%- results[result].RGA_NO %><br/><br/>
                        <strong>RGA Status: </strong><%- results[result].RGA_STATUS %><br/><br/>
                        <strong>RGA Reason: </strong><%- results[result].RGACode %>
                    </td>

                    <td class="warranty">
                        <strong>Warranty: </strong> <br/><br/>
                        <strong>Order: </strong><%- results[result].Warranty_OrderNo %><br/><br/>
                        <strong>PO: </strong><%- results[result].PO %><br/><br/>
                        <strong>Inv #: </strong><%- results[result].Warr_Invno %><br/><br/>
                        <strong>Inv Date: </strong><% if( results[result].Warr_inv_date ) { %><%- moment( results[result].Warr_inv_date ).format( 'MMM D YYYY' ) %><% }; %><br/><br/>
                        <strong>Tracking: </strong><a href="https://www.packagetrackr.com/track/<%- results[result].TrackNo %>" target="_blank"><%- results[result].TrackNo %></a>
                    </td>

                    <td class="date" style="text-align:center;<% if( !results[result].response_date && difference >= 4 ) { %> background:yellow; <% } %>"><% if( results[result].response_date ) { %><%- moment( results[result].response_date ).format( 'MMM D YYYY' ) %><br><br><%- results[result].response_initial %><% } else { %> <a class="btn btn-default btn-xs" type="button" href="/adx/response/<%- results[result].ComplaintNo %>">Log</a> <% }; %></td>

                    <td class="date" style="text-align:center;<% if( !results[result].solution_date && difference >= 72 ) { %>background:yellow;<% } %>"><% if( results[result].solution_date ) { %><%- moment( results[result].solution_date ).format( 'MMM D YYYY' ) %><br><br><%- results[result].solution_initial %><% } else { %> <a class="btn btn-default btn-xs" type="button" href="/adx/solution/<%- results[result].ComplaintNo %>" style="<% if( !results[result].response_date ) { %>visibility:hidden;<% }; %>">Log</a> <% }; %></td>

                    <td class="followup"><div style="text-align:center;"><% if( results[result].followup_date ) { %><%- moment( results[result].followup_date ).format( 'MMM D YYYY' ) %></div><br><%- results[result].followup_note %><%}%><br><div style="text-align:center;"><a class="btn btn-default btn-xs" type="button" href="/adx/followup/<%- results[result].ComplaintNo %>" style="<% if( !results[result].solution_date ) { %>visibility:hidden;<% }; %>">Update</a></div>
                    </td>

                    <td class="notes" style="text-align:left;"><%- htmlDisplay( results[result].Notes ) %><br/><br/><a class="btn btn-default btn-xs" type="button" href="/adx/note/update/<%- results[result].ComplaintNo %>">Update</a><a class="btn btn-default btn-xs" type="button" href="/adx/note/edit/<%- results[result].ComplaintNo %>">Edit</a></td>
                </tr>
            <% }; %>
        </tbody>
    </table>
</div>

<%- include( '../../../../public/partials/footer' ) %>
