<%- include('../../../../public/partials/header') %>

<div class="row">
    <% for(var c in complaint) { %>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
            <h1>Follow Up For Complaint #<%- complaint[c].ComplaintNo %></h1>

            <form action="/api/adx/followup" method="post">
                <div class="form-group">
                    <label for="complaintNo">Complaint #</label>
                    <input type="text" class="form-control" id="complaintno" name="complaintno" readonly="readonly" value="<%- complaint[c].ComplaintNo %>">

                    <label for="followupDate">Date</label>
                    <input type="text" class="form-control" id="followupDate" name="followupDate" value="<%- moment( complaint[c].followup_date ).format( 'MM/D/YYYY' ) %>">

                    <label for="note">Note</label>
                    <textarea type="text" class="form-control" id="note" name="note" style="height:200px;"><%- complaint[c].followup_note %></textarea>
                </div>

                <button type="submit" class="btn btn-default">Update</button>
            </form>

            <form action="/api/adx/clearfollowup" method="post">
                <button type="submit" class="btn btn-default">Clear</button>
                <div class="form-group" style="visibility:hidden;">
                    <label for="complaintNo">Complaint #</label>
                    <input type="text" class="form-control" id="complaintno" name="complaintno" readonly="readonly" value="<%- complaint[c].ComplaintNo %>">

                    <label for="followupDate">Date</label>
                    <input type="text" class="form-control" id="followupDate" name="followupDate" value="<%- moment( complaint[c].followup_date ).format( 'MM/D/YYYY' ) %>">

                    <label for="note">Note</label>
                    <textarea type="text" class="form-control" id="note" name="note" style="height:200px;"><%- complaint[c].followup_note %></textarea>
                </div>


            </form>
        </div>
    <% }; %>
</div>

<%- include('../../../../public/partials/footer') %>
