<%- include('../../../../public/partials/header') %>

<div class="row">
    <% for(var c in complaint) { %>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
            <h1>Solution Time For Complaint #<%- complaint[c].ComplaintNo %></h1>

            <form action="/api/adx/solution" method="post">
                <div class="form-group">
                    <label for="complaintNo">Complaint #</label>
                    <input type="text" class="form-control" id="complaintno" name="complaintno" readonly="readonly" value="<%- complaint[c].ComplaintNo %>">

                    <label for="solutionInitial">Initials</label>
                    <input type="text" class="form-control" id="solutionInitial" name="solutionInitial" placeholder="Initials">
                </div>

                <button type="submit" class="btn btn-default">Log</button>
            </form>
        </div>
    <% }; %>
</div>

<%- include('../../../../public/partials/footer') %>
