<%- include('../../../../public/partials/header') %>

<div class="row">
    <% for(var c in complaint) { %>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
            <h1>Edit Note For Complaint #<%- complaint[c].ComplaintNo %></h1>

            <form action="/api/adx/note/edit" method="post">
                <div class="form-group">
                    <label for="complaintNo">Complaint #</label>
                    <input type="text" class="form-control" id="complaintno" name="complaintno" readonly="readonly" value="<%- complaint[c].ComplaintNo %>">

                    <label for="note">Note</label>
                    <textarea type="text" class="form-control" id="note" name="note" style="height:200px;"><%- complaint[c].Notes %></textarea>
                </div>

                <button type="submit" class="btn btn-default">Update</button>
            </form>
        </div>
    <% }; %>
</div>

<%- include('../../../../public/partials/footer') %>
