@media screen and (min-width: 1440px) {
    .dashboardTable {
        display: flex;
        flex-flow: column;
        height: 80vh;
    }

    .dashboardTable thead {
        flex: 0 0 auto;
        width: calc(100% - 1.4em);
    }

    .dashboardTable tbody {
        flex: 1 1 auto;
        display: block;
        overflow: auto;
    }

    .dashboardTable tbody tr {
        width: 100%;
    }

    .dashboardTable tbody tr, .dashboardTable thead {
        display: table;
        table-layout: fixed;
    }

    .dashboardTable tbody td {
        word-wrap: break-word;
    }

    .notes {
        width: 600px;
        text-align: left;
    }

    .subject {
        width: 100px;
    }

    .closeComplaint {
        width: 60px;
    }

    .urgent {
        width: 100px;
    }

    .deathInjury {
        width: 90px;
    }

    .complaintNumber {
        width: 80px;
    }

    .invoiceNo {
        width: 90px;
    }

    .warranty, .rga {
        width: 150px;
    }

    .urgent > input {
        text-align: center;
    }

    .warranty, .rga {
        text-align: left;
    }

    .creation {
        width: 90px;
    }

    .followup {
        width: 100px;
    }

    .customer {
        width: 90px;
    }

    .date {
        text-align: center;
        width: 80px;
    }
}
